/* Importando a fonte (SYNE) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');
                
* {
  font-family: "SYNE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Reset e fonte */
* {
  /* Margin e Padding tiram as "bordas" que começam por padrão */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* O tamanho da div é exatamente o que eu defino Ex: 100x100*/
}
body, html {
  background-color: #111;
  color: #fff;
  scroll-behavior: smooth; /* desce a tela de maneira "tranquila" */
  overflow-x: hidden;
}

.container {
    background: url(images/login_background.png);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container-login {
    width: 1296px;
    height: 814px;
    background-color: rgba(33, 36, 40, 0.88);
    border-radius: 20px;
}

.formulario {
    background-color: #fff;
    width: 510px;
    height: 814px;
    border-radius: 20px;
}

.formulario h1 {
    color: #1B1F23;
    width: auto;
    height: auto;
    font-size: 70px;
    margin-left: 75px;
    padding-top: 151px;
}

.campo {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 0 20px;
    width: 361px;
    height: 55px;
    border-radius: 40px;
    margin: 15px auto;
    border: 1px solid #000000;
}

.campo .icone {
    width: 29px;
    height: 29px;  
}

.campo input {
    border: none;
    background: transparent; /* Tira o background do input deixando ele com a cor da div de fundo*/
    font-size: 21px;
    color: #1B1F23;
    outline: none; /* Não cria uma "borda" ao redor do input quando selecionado*/
}

.geral-input {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
}

button {
    width: 361px;
    height: 70px;
    font-size: 32px;
    background-color: #1B1F23;
    color: white;
    border-radius: 40px;
    border: none;
    margin: 15px auto;
    margin-top: 80px;
}

button:hover {
    background-color: #F97316;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
}

.card_erro {
    color: #1B1F23;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-div {
    display: none;
}

#redirecionar-cadastro {
    text-decoration: none;
}

#redicionar-home {
    text-decoration: none;
    margin-top: 60px;
}

#redirecionar-cadastro {
  text-decoration: none !important;
  color: #F97316;
}


#texto-novoAqui {
    color: #1B1F23;
    font-size: 20px;
    margin-top: 5px;
    text-decoration: none;
}

.loading-div {
    position: absolute;
    display: flex;
    align-items: center;
    align-items: center;
    height: 50px;
    width: 50px;   
}

.alerta_erro {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 98px;
    margin-top: 160px;
}





