@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');
                
* {
  font-family: "SYNE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background: url(images/fundoNeutro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#logoCS {
  margin-left: 40px;
  width: 50px;
  height: 65px;
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: solid rgba(27, 31, 35, 0.7) 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
  margin-right: 120px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 4px;
}

nav a:hover {
  text-decoration: underline;
  color: #F97316;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-geral {
  display: flex;
  flex-direction: row;
  margin-top: 110px;
  justify-content: center;
  align-items: flex-start;
}

.container-sobremim {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 60px;
}

.sobre-mim h1 {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.sobre-mim p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  width: 700px;
  color: #fff;
}

.container-eu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 200px;
}

#pedro_imagem {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 8px solid #fff;
  background: #e5e5e5;
  position: relative;
  top: -50px;
  z-index: 2; /*Coloca a imagem na frente da parte branca*/
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
}

.texto-eu {
  background-color: #fff;
  color: #1B1F23;
  width: 370px;
  height: 450px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 24px rgba(0,0,0,0.10);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  position: relative;
  top: -110px;
}

.texto-eu h2 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.texto-eu p {
  font-size: 18px;
  font-weight: 500;
  margin: 0 24px;
  margin-bottom: 0;
  line-height: 1.5;
}

footer {
  background-image: url(images/dust.png);
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  padding-top: 211px;
}

.caixa-container {
  display: flex;
  justify-content: center;
  gap: 192px;
}

.caixa-container img{
  width: 130px;
  height: 130px;
}

.caixa {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 31, 35, 0.82);
  width: 401px;
  height: 550px;
  align-items: center;
  border-radius: 50px;
}

.caixa img {
  margin-top: 60px;
}

#titulo-caixa {
  font-size: 30px;
  font-weight: 500;
  width: 307px;
  height: 148px;
  text-align: center;
  padding-top: 40px;
}

#texto-caixa {
  font-size: 22px;
  width: 307px;
  height: auto;
  text-align: center;
  margin-top: 20px;
}

/* Footer real */

.footer1 {
  display: flex;
  flex-direction: column;
}

.rede-social {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 62px;
  border-radius: 100%;
}

.footer1 ul {
  list-style: none; 
  display: flex;
  gap: 29px;
}

.footer1 a {  
  text-decoration: none; 
  color: #A4A4A4;
  font-weight: 500;
  font-size: 16px;
}

.social {
  display: flex;
  gap: 33px;
  justify-content: center;
  margin-top: 18px;
}

.social img {
  margin-top: 3px;
}

.redirect-social {
  display: flex;
  gap: 33px;
  justify-content: center;
  margin: 20px 0px 15px 0px;
}

.footer-container {
  background-color: rgba(16, 17, 18, 0.85);
}

.footer-container2 {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.77);
  height: 57px;
}







