@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');

* {
  font-family: "SYNE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #111;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logoCS {
  margin-top: 10px;
  margin-left: 120px;
  width: 50px;
  height: 65px;
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: solid rgba(27, 31, 35, 0.7) 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
  margin-right: 150px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
  color: #F97316;
  transition: 0.2s ease;
}

main {
  background: url(images/background_neutro_esticado.png);
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  padding-bottom: 60px;
}

.caixa-container {
  display: flex;
  justify-content: center;
  gap: 192px;
}

.caixa-container img{
  width: 130px;
  height: 130px;
}

.caixa {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 31, 35, 0.82);
  width: 401px;
  height: 550px;
  align-items: center;
  border-radius: 50px;
}

.caixa img {
  margin-top: 60px;
}

#titulo-caixa {
  font-size: 30px;
  font-weight: 500;
  width: 307px;
  height: 148px;
  text-align: center;
  padding-top: 40px;
}

#texto-caixa {
  font-size: 22px;
  width: 307px;
  height: auto;
  text-align: center;
  margin-top: 20px;
}

/* Footer real */

.footer1 {
  display: flex;
  flex-direction: column;
}

.rede-social {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 62px;
  border-radius: 100%;
}

.footer1 ul {
  list-style: none; 
  display: flex;
  gap: 29px;
}

.footer1 a {  
  text-decoration: none; 
  color: #A4A4A4;
  font-weight: 500;
  font-size: 16px;
}

.social {
  display: flex;
  gap: 33px;
  justify-content: center;
  margin-top: 18px;
}

.social img {
  margin-top: 3px;
}

.redirect-social {
  display: flex;
  gap: 33px;
  justify-content: center;
  margin: 20px 0px 15px 0px;
}

.footer-container {
  background-color: rgba(16, 17, 18, 0.85);
}

.footer-container2 {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.77);
  height: 57px;
}

#nome-usuario {
  margin-right: auto;
  font-size: 20px;
  width: auto;
  height: auto;
}

#usuario {
  color: #F97316;
  font-weight: 700;
}

.graficos-linha1 {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 50px;
}

.graficos-linha2 {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 50px;
}

.KPI {
  display: flex;
  gap: 380px;
}

.kpi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  color: #F97316;
  width: 230px;
  height: 100px;
  border-radius: 20px;
}

.kpi-container h3 {
  color: #1B1F23;
}

#usuariosCadastrados, #quizzesRespondidos {
  font-weight: 700;
  font-size: 25px;
}

#administrativo {
  display: none;
}

.radarGeral {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 25px;
}

main h1 {
  font-weight: 600;
}
